# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [15]:
# Libraries
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [16]:
# your code here
adms = pd.read_csv("./Admission_Predict.csv")

Remove trailing spaces at the end of the column names if there are any.

In [17]:
# your code here

Let's evaluate the dataset by looking at the `head` function.

In [18]:
# your code here
adms.head(3)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [19]:
# your code here
adms.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [32]:
# your code here
# adms["Serial No.2"] = adms["Serial No."]

# adms.set_index('Serial No.', inplace=True)

adms.head()
adms.shape

(385, 9)

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [36]:
# your code here

len(adms["GRE Score"]) == len(adms["GRE Score"].unique())

False

In [43]:
adms["GRE+CGPA"] = (adms["GRE Score"]).astype(str)+"-"+(adms["CGPA"]).astype(str)
adms.head(3)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Serial No.2,GRE+CGPA
Serial No.,,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,1,337-9.65
2,316,104,3,3.0,3.5,8.00,1,0.72,2,316-8.0
3,322,110,3,3.5,2.5,8.67,1,0.80,3,322-8.67

In [44]:
len(adms["GRE+CGPA"]) == len(adms["GRE+CGPA"].unique())

True

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [49]:
# your code here
# adms.set_index('GRE+CGPA', inplace=True)
adms.drop('GRE Score', inplace=True, axis=1)
adms.drop('CGPA', inplace=True, axis=1)

adms.head(3)

,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Serial No.2
GRE+CGPA,,,,,,,
337-9.65,118,4,4.5,4.5,1,0.92,1
316-8.0,104,3,3.0,3.5,1,0.72,2
322-8.67,110,3,3.5,2.5,1,0.80,3

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [51]:
# your code here
adms.reset_index(inplace=True)

adms.head(3)

,index,GRE+CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Serial No.2
0,0,337-9.65,118,4,4.5,4.5,1,0.92,1
1,1,316-8.0,104,3,3.0,3.5,1,0.72,2
2,2,322-8.67,110,3,3.5,2.5,1,0.80,3

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [57]:
# your code here
adms = pd.read_csv("./Admission_Predict.csv")

adms[(adms["CGPA"]>9) & (adms["Research"]==1)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
4,5,330,115,5,4.5,3.0,9.34,1,0.90
10,11,328,112,4,4.0,4.5,9.10,1,0.78
19,20,328,116,5,5.0,5.0,9.50,1,0.94
20,21,334,119,5,5.0,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...,...
379,380,329,111,4,4.5,4.0,9.23,1,0.89
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
384,385,333,117,4,5.0,4.0,9.66,1,0.95

In [71]:
adms.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [74]:
# your code here

adms_mean = adms[(adms["CGPA"]>9) & (adms["SOP"]<3.5)]
adms_mean["Chance of Admit "].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [104]:
import numpy as np

def standardize(x,col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    # your code here
    std = np.std(adms[col])
    mean = np.mean(adms[col])
    value = ((x - mean) / std)
    return value

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [108]:
# your code here

adms["LOR_std"] = adms["LOR "].apply(standardize, col="LOR ")
adms["CGPA_std"] = adms["CGPA"].apply(standardize, col="CGPA")
adms["GRE_std"] = adms["GRE Score"].apply(standardize, col="GRE Score")
adms.head(3)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,LOR_std,GRE_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.193197,1.755663
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,0.076840,-0.063450
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,-1.039517,0.456297

We will generate the decision choice at random using the code below. Please run the cell.

In [109]:
# Libraries
from random import choices

In [117]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=adms.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [122]:
# your code here
adms["deciding_column"] = adms.lookup(adms.index, decision_choice)

adms.head(5)

C:\Users\pedro\AppData\Local\Temp\ipykernel_15584\2686551677.py:2: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  adms["deciding_column"] = adms.lookup(adms.index, decision_choice)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,LOR_std,GRE_std,deciding_column
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.193197,1.755663,1.193197
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,0.076840,-0.063450,0.076840
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,-1.039517,0.456297,0.456297
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.481338,-0.236698,-0.236698
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,-0.481338,1.149292,-0.481338

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [138]:
# your code here
def decision(x):
    if (x > 0.8):
        return 1
    else:
        return 0
    
adms["decision"] = adms["deciding_column"].apply(decision)

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [137]:
# your code here
adms["decision"].value_counts()
# 82 students will be accepted

0    303
1     82
Name: decision, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [142]:
# your code here
adms.columns = [name.replace(" ","_").lower() for name in adms.columns]
adms.head()

,serial_no.,gre_score,toefl_score,university_rating,sop,lor_,cgpa,research,chance_of_admit_,cgpa_std,lor_std,gre_std,deciding_column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.193197,1.755663,1.193197,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,0.076840,-0.063450,0.076840,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,-1.039517,0.456297,0.456297,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.481338,-0.236698,-0.236698,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,-0.481338,1.149292,-0.481338,0

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [179]:
# your code here

# rating_table = adms[adms['university_rating']>=4]
# rating_table['gre_score'] = rating_table['gre_score'] + 10

adjusted_gre = pd.cut((adms[adms['university_rating']>=4]['gre_score'] + 10), 4, labels = ["1","2","3","4"])
adjusted_gre.value_counts()

4    65
3    45
2    14
1     2
Name: gre_score, dtype: int64